@font-face {
	font-family: 'FixedsysTTF';
	src: url(../../assets/fonts/FixedsysTTF.woff2) format('woff2'),
	url(../../assets/fonts/FixedsysTTF.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}